<a href="https://colab.research.google.com/github/tanisha1402/Machine-Learning-Practice/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Types of Objects in python
1. Immutable Objects
2. Mutable Objects

# Immutable Objects
1. int
2. float
3. str
4. bool
5. complex
6. tuple

# Mutable Objects
1. List
2. Set
3. Dictionary

In [1]:
# lists should be included in square brackets
my_list1= [1,2,3,4,5]
print(my_list1)
type(my_list1)

[1, 2, 3, 4, 5]

list

In [2]:
# lists can have multiple data types
my_list2=[1,3.9,"Hi World"]
print(my_list2)

[1, 3.9, 'Hi World']

lists are mutable --> changable

In [3]:
# adding elements in list, use append func
my_list1.append("You can add elemets in lists, meaning it's mutable")
print(my_list1)

[1, 2, 3, 4, 5, "You can add elemets in lists, meaning it's mutable"]

In [4]:
# you can also print lists elements using index
print(my_list1[1])
print(my_list1[2:6])

2
[3, 4, 5, "You can add elemets in lists, meaning it's mutable"]

In [5]:
# lists allow duplicate values
my_list3= [1,2,3,1,2,"list allow duplicate values",5,5]
print(my_list3)

[1, 2, 3, 1, 2, 'list allow duplicate values', 5, 5]

In [6]:
print(len(my_list3))

8

In [7]:
# initializing an empty lisy
my_list4= []
print(my_list4)

[]

In [8]:
my_list4.append(909)
print(my_list4)

[909]

In [9]:
# deleting an item or element in list, use list_name.remove[index] or del list_name[index]
my_list5= [1,2,3,4,5,6,7,89,8]
my_list5.remove(1)
print(my_list5)
del my_list5[0]
print(my_list5)

[2, 3, 4, 5, 6, 7, 89, 8]
[3, 4, 5, 6, 7, 89, 8]

In [10]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuple

In [11]:
# tuples are included in first brackets
my_tuple1= (1,2,3,4)
print(my_tuple1)

(1, 2, 3, 4)

In [12]:
# tuples allow multiple data type
my_tuple2= (1,2,3.9,"Hi World")
print(my_tuple2)

(1, 2, 3.9, 'Hi World')

In [13]:
# converting list to tuple
list1 = [1,2,3,"Hi converting list to tuple"]
print(list1)
print(type(list1))
tuple1 = tuple(list1)
print(tuple1)
print(type(tuple1))

[1, 2, 3, 'Hi converting list to tuple']
<class 'list'>
(1, 2, 3, 'Hi converting list to tuple')
<class 'tuple'>

In [14]:
# we can print an item or element in tuple using index, tuple_name[index]
print(tuple1[0])
print(tuple1[1:4])

1
(2, 3, 'Hi converting list to tuple')

# Tuples are immutable --> unchangable

In [15]:
tuple1.append(2)

AttributeError: 'tuple' object has no attribute 'append'

# Set

In [16]:
# sets are included in curly brakets
set1 = {1,2,3}
print(set1)

{1, 2, 3}

In [17]:
# you can't print an item or element in sets using index
print(set1[1])

TypeError: 'set' object is not subscriptable

In [18]:
# set don't allow duplicate values
set2= {1,1,2,3,4,5,2,1,3,"set don't allow duplicate values, it wouldn't print or included it in itself"}
print(set2)

{1, 2, 3, 4, 5, "set don't allow duplicate values, it wouldn't print or included it in itself"}

In [19]:
# converting list into set
mylist = [1,2,3,4,5]
myset = set(mylist)
print(myset)
type(myset)

{1, 2, 3, 4, 5}

set

# Dictionary
1. key - value pair like set
2. it's included in curly brackets
3. doesn't allow any duplicate values

In [20]:
my_dictionary= {'name':'Tanisha','age': 21, 'gender' : 'female'}
print(my_dictionary)

{'name': 'Tanisha', 'age': 21, 'gender': 'female'}

In [21]:
# you can print an item or elements in dictionary using index
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['gender'])

Tanisha
21
female

In [22]:
# dictionary doesn't allow duplicate keys
my_dictionary= {'name':'Tanisha','age': 21, 'gender' : 'female', 'name':'Tanisha','name2':'Tanisha'}
print(my_dictionary)

{'name': 'Tanisha', 'age': 21, 'gender': 'female', 'name2': 'Tanisha'}