<a href="https://colab.research.google.com/github/tanisha1402/Machine-Learning-Practice/blob/main/Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators on Python
1. Arithmetic Operators
2. Asssignmnet Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

# 1. Arithmetic Operators

In [1]:
 n1 = 20
 n2 = 10

 # addition
 sum = n1+n2
 print("Sum : ",sum)

 #substraction
 diff = n1-n2
 print("Difference : ",diff)

 #multiplication
 prod = n1*n2
 print("Product : ",prod)

 #division
 quot = n1/n2
 print("Quotient : ",quot)

 #modulus
 rem = n1%n2
 print("Remainder : ",rem)

 #exponent
 exp = n1**n2
 print("Exponent : ",exp)

Sum :  30
Difference :  10
Product :  200
Quotient :  2.0
Remainder :  0
Exponent :  10240000000000

# 2. Assignment Operators

1. =
2. +=
3. -=
4. *=
5. **=
6. /=
7. %=

In [2]:
a = 10
b = a
print(b)
b+=10
print(b)
b*=10
print(b)
b/=10
print(b)
b**=10
print(b)

10
20
200
20.0
10240000000000.0

# 3. Assignment Operators

In [4]:
a = 10
b = 20
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

False
False
True
True
False
True

# 4. Logical Operators
1. and
2. or
3. not

In [5]:
a = 10
b = 20
print(a<b and b>a)
print(a<b or b>a)
print(not(a<b and b>a))

True
True
False

# 5. Identity Operators
1. is
2. is not

In [6]:
a=5
b=5
print(a is b)
print(a is not b)

True
False

# 6. Membership Operator
1. in
2. in not

In [7]:
l= [1,2,3,4,5]
print(3 in l)
print(3 not in l)
a = 9
print(a in l)
print(a not in l)

True
False
False
True